@use "../../styles/variables" as *;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotate 2s linear infinite;
}

.title {
  font-size: 36px;
  color: $font-color;
}

.wrapper {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
