@use "../../../styles/variables.scss" as *;

.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 7px;

  h4 {
    padding-left: 15px;
    color: $font-color;
  }
}

.input {
  max-width: 225px;
  padding: 10px 15px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.106);
}

.textarea {
  max-width: 225px;
  padding: 10px 15px;
  border-radius: 16px;
  height: 130px;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: $font-color $bg-color;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.106);
}

.modaltitle {
  font-size: 36px;
  color: $font-color;
  padding-right: 50px;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.disagreeButton,
.agreeButton {
  padding: 10px 15px;
  border-radius: 16px;
  min-width: 150px;
  transition: 0.2s ease;
  font-weight: 600;

  &:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.309);
  }
}

.agreeButton {
  background-color: $font-color;
  color: $bg-color-card;
}

.disagreeButton {
  border: 2px solid $font-color;
  color: $font-color;
  background-color: $bg-color-card;
}
